# Project exclude paths
/.gradle/
/app/build/
/build/

# Android Studio / IntelliJ
.idea/
*.iml
*.hprof
local.properties
.DS_Store

# Gradle
.gradle/
build/

# Build outputs (allow specific release APK)
*.apk
!release/*.apk
*.aar
*.jar

# Logs
*.log
